
#chartdiv {
    width: 100%;
    height: 500px;
}

#tblContainer{
    width: 300px;
}

.center {
    text-align: center;
}

.plus_minus{
    width: 120px;
}

.merge-bottom-input {
    width: 60px;

}

.btn-group .btn-block{
    width: 60px;
}


.merge-top-left-button {
    width: 60px;
}

.merge-top-right-button {
    width: 60px;
}


#pol .list-group{

    float: right;
    margin: 0 0 10px 10px;

}

.amcharts-axis-title:first-child{
    color: green;
}

#tblContainer th, td {
    padding: 15px;
    text-align: left;
}


.divTable{
    padding: 20px;
}

#pol {

}
#eco{

}
#soz{

}
#tech{

}
#oek{

}
#rech{

}